:root {
  --dark-title-color: #303030;
  --white_title-color: #ffffff;
  --primary-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --address-text-color: #9da4bd;
  --accent-color: #ff6c00;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ======= Common styles ======= */
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  outline: 1px solid tomato;
}
